<!DOCTYPE html>
<html>
  <head>
    <%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title, user: user}); %>
    <h1>Ride Sharing <%= title %> Page</h1>
    <p>Welcome to Ride Sharing About Page</p>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
  </footer>
</html>
