<!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: 'title'}); %>
    <div class="container">
      <div class="page-header text-center">
        <h1>Oops, the carplate you entered already exists in our system</h1>
        <a href="/driver" class="btn btn-primary btn-sm">Try Again</a>
      </div>
    </div>
  </body>
</html>
