<!DOCTYPE html>
<html>
<head>
    <%- include partial/head.ejs %>
</head>
<body>
<%- include('partial/nav', {title: title, user: user}); %>
<h1>Ride Sharing: <%= title %></h1>
<form id="createTrip_form" action="forms" role="form" method="post">
    <div class="form-group">
        <label for="faculty">Origin (Enter Postal Code):</label>
        <input type="number" class="form-control" id="origin" name="origin" placeholder="Enter your origin">
    </div>
    <div class="form-group">
        <label for="email">Destination (Enter Postal Code):</label>
        <input type="number" class="form-control" id="destination" name="destination" placeholder="Enter your destination">
    </div>
    <div class="form-group">
        <label for="password">Maximum Bid</label>
        <input type="number" step="0.01" min=0 class="form-control" id="maxBid" name="maxBid" placeholder="Enter your max bid">
    </div>
    <div class="form-group">
        <label for="password">Minimum Bid</label>
        <input type="number" step="0.01" min=0 class="form-control" id="minBid" name="minBid" placeholder="Enter your min bid">
    </div>
    <div class="form-group">
        <label for="password">Start Time</label>
        <input type="date" class="form-control" id="startTime" name="startTime" placeholder="Enter your Start Time EG: 2018-07-01 05:23:57">
    </div>
    <div class="form-group">
        <label for="password">Number of Passengers</label>
        <input type="number" class="form-control" id="numpassengers" name="numpassengers" placeholder="Enter the maximum number of passengers">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
<footer>
    <%- include partial/scripts.ejs %>
    <script src="/javascripts/tripValidationScript.js"></script>
    <script>
        // function to prevent page from doing anything if not filled to standard
        (function() {
            window.addEventListener('load', function() {
                // form is located by id and validation calls the form
                var forms = [document.getElementById('createTrip_form')];
                var validation = Array.prototype.filter.call(forms, function(form) {
                    // upon submit, "check" function is called in userValidationScript.js
                    form.addEventListener('submit', check, true);
                });
            }, false);
        })();
    </script>
</footer>

</html>
