<!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title}); %>
    <h1>Ride Sharing: <%= title %></h1>
		<form id="html_form" action="forms" role="form" method="post">
			<div class="form-group">
				<label for="matric">Matric Number</label>
				<input type="text" class="form-control" id="matric" name="matric" aria-describedby="matricHelp" placeholder="Enter your matric number">
				<small id="matricHelp" class="form-text text-muted">Do not share your matric number with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
			</div>
			<div class="form-group">
				<label for="faculty">Faculty</label>
				<input type="text" class="form-control" id="faculty" name="faculty" placeholder="Enter your faculty">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
    <script src="javascripts/userValidationScript.js"></script>
  </footer>
</html>
