<!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title}); %>
    <h1>Ride Sharing: <%= title %></h1>
		<form>
			<div class="form-group">
				<label for="matric">Matric Number</label>
				<input class="form-control" id="matric" aria-describedby="matricHelp" placeholder="Enter your matric number">
				<small id="matricHelp" class="form-text text-muted">Do not share your matric number with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<input class="form-control" id="name" placeholder="Enter your name">
			</div>
			<div class="form-group">
				<label for="faculty">Faculty</label>
				<input class="form-control" id="faculty" placeholder="Enter your faculty">
			</div>
			<button type="submit" class="btn btn-primary" onclick="show()">Submit</button>
		</form>
  </body>
</html>
