<!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title}); %>
    <h1>Ride Sharing Starter Guide</h1>
    <p>Welcome to Ride Sharing Home Page</p>
    <br />
		<p>by: Jacob [testing]</p>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
  </footer>
</html>
