<!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title}); %>
    <h1>Ride Sharing Starter Guide</h1>
    <p>Welcome to Ride Sharing Home Page</p>

    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> User Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <!-- <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
      </div>
    </div>

    <br />
		<p>By: CS2102 Group ____ </p>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
  </footer>
</html>
