<!DOCTYPE html>
<html>
  <head>
		<%- include partial/head.ejs %>
  </head>
  <body>
    <%- include('partial/nav', {title: title, user: user}); %>
    <h1>Success! You have been signed up as a passenger and can now view and bid on trips!</h1>
  </body>
  <footer>
    <%- include partial/scripts.ejs %>
    <script src="/javascripts/tripValidationScript.js"></script>
    <script>
        // function to prevent page from doing anything if not filled to standard
        (function() {
            window.addEventListener('load', function() {
                // form is located by id and validation calls the form
                var forms = [document.getElementById('createTrip_form')];
                var validation = Array.prototype.filter.call(forms, function(form) {
                    // upon submit, "check" function is called in userValidationScript.js
                    form.addEventListener('submit', check, true);
                });
            }, false);
        })();
    </script>
  </footer>

</html>
