<div class="modal fade" id="topDriversListModal" tabindex="-1" role="dialog" aria-labelledby="topDriversListLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="topDriversListLabel">List of Top 10 Drivers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <table class="table modal-body">
        <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">User Email</th>
            <th scope="col">User Password</th>
            <th scope="col">User Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<data.length; i++) { %>
          <tr>
            <td><%= data[i].name%></td>
            <td><%= data[i].email%></td>
            <td><%= data[i].phonenum%></td>
            <td>
              <form action="deleteuser" method="post">
                <button type="submit" name="email" value="<%=data[i].email%>" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
