<!-- Page Title -->
<title>CS2102 Ride Sharing Application</title>
<link rel='stylesheet' href='/stylesheets/style.css' />

<!-- CSS for Styling -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
